* {
  align-items: center;
  align-content: center;
  text-align: center;
}

h1 {
  color: darkviolet;
  align-content: center;
  text-align: center;
}

#container {
  background-color: bisque;
}

.container {
  background-color: blue;
}

.item-style {
  background-color: darkcyan;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.task-complete {
  font-family: sans-serif;
  text-decoration: line-through;
  color: darkgrey;
}
